body {
  background-color: #C2DED1;
}

hr {

  border-style: none;
  border-top: dotted;
  width: 4%;
  border-color: #ECE5C7;
  border-width: 10px;
  background: none;
}

h1{
  color: #354259;
}

h3{
  color: #354259;
}
